In [10]:
df <- read.csv("https://query.data.world/s/ctnyny3uk5yv3iqicf3n2p5nui7ugy", header=TRUE, stringsAsFactors=FALSE);
# https://query.data.world/s/ctnyny3uk5yv3iqicf3n2p5nui7ugy

In [3]:
str(df)

'data.frame':	376 obs. of  6 variables:
 $ ï..Year               : int  2017 2017 2017 2017 2017 2017 2017 2017 2017 2017 ...
 $ Month                 : chr  "April" "April" "April" "April" ...
 $ CITY.1                : chr  "HYDERABAD" "HYDERABAD" "HYDERABAD" "HYDERABAD" ...
 $ CITY.2                : chr  "AGARTALA" "AURANGABAD" "BAGDOGRA" "CHANDIGARH" ...
 $ PASSENGERS.TO.CITY.2  : int  49 1461 0 4195 48886 5533 2237 9770 5063 5704 ...
 $ PASSENGERS.FROM.CITY.2: int  55 1791 422 3661 49131 5943 2802 9775 4455 5764 ...

In [9]:
summary(df)

    ï..Year        Month              CITY.1             CITY.2
 Min.   :2017   Length:376         Length:376         Length:376
 1st Qu.:2017   Class :character   Class :character   Class :character
 Median :2017   Mode  :character   Mode  :character   Mode  :character
 Mean   :2017
 3rd Qu.:2017
 Max.   :2017
 PASSENGERS.TO.CITY.2 PASSENGERS.FROM.CITY.2
 Min.   :     0       Min.   :     0
 1st Qu.:  1457       1st Qu.:  1317
 Median :  5638       Median :  6190
 Mean   : 15836       Mean   : 16102
 3rd Qu.: 18128       3rd Qu.: 18601
 Max.   :108792       Max.   :114562