In [2]:
df <- read.csv("https://query.data.world/s/ctnyny3uk5yv3iqicf3n2p5nui7ugy", header=TRUE, stringsAsFactors=FALSE);
# https://query.data.world/s/ctnyny3uk5yv3iqicf3n2p5nui7ugy

In [3]:
str(df)

'data.frame':	376 obs. of  6 variables:
 $ ï..Year               : int  2017 2017 2017 2017 2017 2017 2017 2017 2017 2017 ...
 $ Month                 : chr  "April" "April" "April" "April" ...
 $ CITY.1                : chr  "HYDERABAD" "HYDERABAD" "HYDERABAD" "HYDERABAD" ...
 $ CITY.2                : chr  "AGARTALA" "AURANGABAD" "BAGDOGRA" "CHANDIGARH" ...
 $ PASSENGERS.TO.CITY.2  : int  49 1461 0 4195 48886 5533 2237 9770 5063 5704 ...
 $ PASSENGERS.FROM.CITY.2: int  55 1791 422 3661 49131 5943 2802 9775 4455 5764 ...

In [4]:
summary(df)

    ï..Year        Month              CITY.1             CITY.2
 Min.   :2017   Length:376         Length:376         Length:376
 1st Qu.:2017   Class :character   Class :character   Class :character
 Median :2017   Mode  :character   Mode  :character   Mode  :character
 Mean   :2017
 3rd Qu.:2017
 Max.   :2017
 PASSENGERS.TO.CITY.2 PASSENGERS.FROM.CITY.2
 Min.   :     0       Min.   :     0
 1st Qu.:  1457       1st Qu.:  1317
 Median :  5638       Median :  6190
 Mean   : 15836       Mean   : 16102
 3rd Qu.: 18128       3rd Qu.: 18601
 Max.   :108792       Max.   :114562

In [5]:
head(df);tail(df)

  ï..Year Month CITY.1    CITY.2     PASSENGERS.TO.CITY.2
1 2017    April HYDERABAD AGARTALA      49
2 2017    April HYDERABAD AURANGABAD  1461
3 2017    April HYDERABAD BAGDOGRA       0
4 2017    April HYDERABAD CHANDIGARH  4195
5 2017    April HYDERABAD CHENNAI    48886
6 2017    April HYDERABAD INDORE      5533
  PASSENGERS.FROM.CITY.2
1    55
2  1791
3   422
4  3661
5 49131
6  5943

    ï..Year Month     CITY.1    CITY.2     PASSENGERS.TO.CITY.2
371 2017    September HYDERABAD COIMBATORE   5060
372 2017    September HYDERABAD KOCHI       29339
373 2017    September HYDERABAD DEHRA DUN     394
374 2017    September HYDERABAD DELHI      100815
375 2017    September HYDERABAD GUWAHATI     2484
376 2017    September HYDERABAD GOA         17112
    PASSENGERS.FROM.CITY.2
371  5138
372 28435
373   541
374 93644
375  3349
376 16787